@font-face {
  font-family: cool;
  src: url('GothaniaSerifPersonalUseRegular-9MKw0.otf');
  font-style: normal;
}

#title {
  font-family: cool;
  vertical-align: middle;
  align-items: center;
}

body {
  background: #2b2b2b;
}

.button {
  background: #2b2b2b;
  border-radius: 12px;
  height: 200px;
  width: 240px;
  text-align: center;
}

.button:hover {
  background: #636161;
  border-radius: 12px;
  height: 200px;
  width: 240px;
}
  
  
