@font-face {
  font-family: cool;
  src: url('GothaniaSerifPersonalUseRegular-9MKw0.otf');
  font-style: normal;
}

#title {
  font-family: cool;
  vertical-align: middle;
}

body {
  background: #2b2b2b;
}
