
body {
  background: #2b2b2b;
}

.button {
  background: #2b2b2b;
  border-radius: 12px;
  font-family: cool;
  height: 300px;
  width: 360px;
  text-align: center;
}

.button:hover {
  background: #636161;
  border-radius: 12px;
  height: 200px;
  width: 240px;
}

h1, h2, h3 {
  color: white;
}

img {
  border-radius: 8px;
  height: 180px;
  width: 210px;
}

  
  
