
body {
  background: #2b2b2b;
}

.button {
  background: #2b2b2b;
  border-radius: 12px;
  font-family: cool;
  height: 340px;
  width: 390px;
  text-align: center;
  padding: 30px;
}

.button:hover {
  border-radius: 12px;
  height: 340px;
  width: 390px;
  padding: 30px;
}

h1, h2, h3 {
  color: white;
}

img {
  border-radius: 8px;
  height: 180px;
  width: 210px;
}

p {
  color: white;
}

.move {
  background: #2b2b2b;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  
}

.move:hover {
  background: #636161;
}

#info {
  display: flex;
}

  
  
